#meme {
  position: relative;
  width: 1000px;
  white-space: normal;
  word-break: break-all;
}

img {
  width: 1000px;
  height: 500px;
}

#top-text,
#bottom-text {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

#bottom-text {
  bottom: 0;
}
